@font-face {
  font-family:"StratumNo1Bold";
  src: url("stratumno1bold.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
  font-family:"StratumNo1Regular";
  src: url("StratumNo1 Regular.ttf") /* TTF file for CSS3 browsers */
}

html body {
	background-color: #000;
  max-width: 100%;
  overflow-x: hidden; /*<-- Prevents horizontal scrolling when I'm too lazy to remove the section thats making it scroll sideways*/
}

/*Navbar goodies*/
.navbar .navbar-nav {
 	display: inline-block;
	float: none;
	vertical-align: top;
}

.navbar .navbar-collapse {
	text-align: center;
}

.navbar-inverse {
	background-color: #1A1F21!important;
	padding-bottom: 10px!important;
	padding-top: 10px!important;
	margin-bottom: 0px!important;
}
    /*Navbar text and animations*/
a.navtext {
	letter-spacing: 6px;
	color: #ffffff!important;
	font-family: "StratumNo1Bold";
	text-decoration: none;
	position: relative;
	padding: 5px;
  font-size: 15px;
}

a.navtext:hover {
	background: #1A1F21!important;
}

a.navtext:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
 	left: 0;
  background: red;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.32s ease-in-out 0s;
  transition: all 0.32s ease-in-out 0s;
}

a.navtext:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.navbar {
  margin-bottom: 0!important;
  border: 0!important;
}

.center {
  padding: auto;
  width: 51%;
}

.navbar-toggle {
  border: none!important;
  outline: none!important;
  float: none;
  background-color: #1A1F21!important;
}

/*Header*/
    /*Page header*/
.header {
	text-align: center!important;
	background-color: #22292C;
	height: 110vh!important;
  padding-bottom: 50vh;
}

.headerTitle {
  vertical-align: center!important;
  padding-top: 35vh;
	margin-top: 0;
	font-family: "Nunito Sans";
  font-weight: 900;
  letter-spacing: 3px;
	font-size: 100px;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

    /* Parallax Effect for Header */
@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}

.parallax {
  background-image: url("background.png");
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
    /*Letters*/
.sp1 {
	color: #F69332;
}

.sp2 {
	color: #F26F54;
}

.sp3 {
	color: #EE4D7A;
}

.sp4 {
	color: #A066A9;
}

.sp5 {
	color: #4F72B7;
}
.sp6 {
	color: #0B97AC;
}
.sp7 {
	color: #00B199;
}
.sp8 {
	color: #6DB981;
}
    /*Header subtitle*/
.headerSubtitle {
  padding-top: 3vh;
  font-family: "StratumNo1Bold"!important;
  color: #fff!important;
  letter-spacing: 2px;
}

/*Page 2*/
    /*Page header*/
.section2 {
  text-align: center;
  height: 100%;
  background: red;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  margin-bottom: 0px!important;
  padding-bottom: 100px;
}
.section2Title {
  font-family: "StratumNo1Bold"!important;
  background: red;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  color: #fff!important;
  padding-top: 5vh;
  font-size: 50px;
  margin-top: 0!important;
  padding-bottom: 0!important;
}
    /*Header subtitle*/
.section2Subtitle {
  font-family: "StratumNo1Bold"!important;
  color: #fff!important;
  padding-top: 6vh!important;
  font-size: 20px;
  letter-spacing: 3px;
  margin-bottom: 0!important;
  padding-bottom: 6vh;
}
    /*Table*/
.section2Table {
  text-align: center;
  border: 2.5px solid #fff;
  margin-top: 5px;
  margin-bottom: 5px;
}
.section2TableTitle {
  text-align: left;
  font-family: "StratumNo1Bold";
  font-size: 25px;
  color: #fff;
  margin-top: 20px!important;
  margin-bottom: 20px;
}
.section2TableContent {
  text-align: left;
  margin-left: 7px;
  font-family: "StratumNo1Regular";
  font-size: 20px;
  letter-spacing: -1.1px;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 500;
}
/*Page 3*/
.section3 {
  color: #fff;
  background-color: #fff;
  height: 100%;
  padding-bottom: 80px;
}
    /*Page 3 Header*/
.section3Title {
  font-family: "StratumNo1Bold"!important;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  margin-top: 0!important;
  padding-bottom: 0!important;
  padding-top: 9vh;
  text-align: left;
  margin-left: 12%;
  margin-right: 12%;
}
.sp1 {
	color: #F69332;
}

.sp2 {
	color: #F26F54;
}

.sp3 {
	color: #EE4D7A;
}

.sp4 {
	color: #A066A9;
}

.sp5 {
	color: #4F72B7;
}
.sp6 {
	color: #0B97AC;
}
.sp7 {
	color: #00B199;
}
.sp8 {
  color: #6DB981;
}
.sp11 {
  color: #E74C3C;
}
.sp12 {
  color: #9B59B6;
}
.sp13 {
  color: #8E44AD;
}
.sp14 {
  color: #2980B9;
}
.sp15 {
  color: #3498DB;
}
.sp16 {
  color: #1ABC9C;
}
.sp17 {
  color: #16A085;
}
.sp18 {
  color: #2ECC71;
}
.sp19 {
  color: #F1C40F;
}
.sp20 {
  color: #F39C12;
}
    /*Page 3 Content*/
.section3Content1 {
  font-family: "Nunito Sans";
  font-size: 18px;
  color: #1A1F21;
  margin-left: 12%;
  padding-top: 50px;
  margin-right: 12%;
}
/*Footer*/
.footer {
  background-color: #1A1F21!important;
  padding-bottom: 50px!important;
  height: 150px;
  text-align: center!important;
}
    /*Footer Content*/
.footerContent {
  text-align: center!important;
  padding-top: 50px;
}
    /*Footer animations */
a.footerUla {
	letter-spacing: 6px;
	color: #ffffff!important;
	font-family: "StratumNo1Bold";
	text-decoration: none!important;
	position: relative;
	padding: 5px;
  font-size: 20px;
}
a.footerUla:hover {
	background: #1A1F21!important;
  text-decoration: none!important;
}
a.footerUla:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
 	left: 0;
  background: red;
  background: -webkit-linear-gradient(left, #F1A9A0 , #2DE3C8);
  background: -o-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: -moz-linear-gradient(right, #F1A9A0 , #2DE3C8);
  background: linear-gradient(to right, #F1A9A0 , #2DE3C8);
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.32s ease-in-out 0s;
  transition: all 0.32s ease-in-out 0s;
}
a.footerUla:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*Footer Social*/
.social-icons {
  padding:0;
	text-align: center!important;
}
.footerSocial {
  width: 100%;
  display:block;
  margin: 0 auto;
  background-color: #1A1F21;
  height: 60px!important;
}
    /*Icon shtuff n animations*/
.social-icon {
  color: #fff;
	background-color: #1A1F21;
}
.social-icons li {
  vertical-align: top;
  display: inline;
  height: 140px!important;
	text-align: center;
}
.social-icons a {
  color: #fff;
  text-decoration: none;
}
.fa-linkedin {
  padding:10px 12px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #1A1F21;
  font-size: 1.5em;
}
.fa-linkedin:hover {
  background-color: #007bb6;
	color: #ffffff;
}
.fa-instagram {
  padding:10px 14px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition: .5s;
  background-color: #1A1F21;
  font-size: 1.5em;
}
.fa-instagram:hover {
  background-color: #8a3ab9;
	color: #ffffff;
}




/*             */
/* WORK  PAGE  */
/*             */
/* Also sorry for the inconsistent comments :3 */
/* Header */

.workHeader {
  height: 100vh;
  text-align: center;
}
.workHeaderTitle {
  font-size: 70px;
  padding-top: 22vh;
}
.workHeaderSubtitle {
  padding-top: 3vh;
  font-family: "StratumNo1Bold";
  color: #fff;
  letter-spacing: 3px;
}

/* Portfolio section */
.workPortfolio {
  height: 100%;
  background: red;
  background: -webkit-linear-gradient(left, #3494E6 , #EC6EAD);
  background: -o-linear-gradient(right, #3494E6 , #EC6EAD);
  background: -moz-linear-gradient(right, #3494E6 , #EC6EAD);
  background: linear-gradient(to right, #3494E6 , #EC6EAD);
}
.workPortfolioTitle {
  font-family: "StratumNo1Bold";
  color: #fff;
  padding-top: 35px;
  text-align: center;
  font-size: 42px;
}
.workShowcase {
  padding-top: 30px;
}
.workShowcaseTable1,.workShowcaseTable2,.workShowcaseTable3 {
  text-align: center;
  border: 3.5px solid #fff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.workShowcaseTableTitle {
  text-align: center;
  font-family: "StratumNo1Bold";
  font-size: 25px;
  color: #fff;
}
.workShowcaseTableContent {
  text-align: center;
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }
}
